.body {
  background: #282828;
  color: white;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  height: 10vw;
  width: 10vw;
  max-width: 100px;
  max-height: 100px;
  border: 0;
  padding: 0;
}

.white {
  background: #eddabd;
}
.black {
  background: #b08461;
}

.white-highlight {
  background: #749159;
}
.black-highlight {
  background: #687352;
}

.search {
  height: 40px;
  width: 50vw;
  max-width: 500px;
  font-size: 18px;
  font-family: inherit;
  background: #414141;
  color: #ffffff;
  border: solid #8a8a8a;
  border-radius: 10px;
  padding: 10px;
}

.submit-button {
  margin-left: 20px;
  height: 60px;
  font-size: 20px;
  font-family: inherit;
  background: #4d4d4d;
  color: #ffffff;
  border: solid #8a8a8a;
  border-radius: 10px;
  padding: 0 20px;
  &:hover {
    background: #356585;
  }
}

.board-row {
  display: flex;
  width: 100vw;
  height: auto;
}

.board {
  width: 80vw;
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;
}

.fen {
  margin-top: 20px;
}
