.body {
  background: darkgray;
  padding: 50px;
}

.square {
  height: 80px;
  width: 80px;
  float: left;
  border: 0;
}

.white {
  background: #f6ebd1;
}
.black {
  background: #b4916e;
}

.white-highlight {
  background: #749159;
}
.black-highlight {
  background: #687352;
}

.search {
  height: 35px;
  width: 550px;
  font-size: 24px;
}

.button {
  height: 35px;
  font-size: 24px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
