.body {
  background: #282828;
  color: white;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  height: 40px;
  width: 60vw;
  max-width: 550px;
  font-size: 18px;
  font-family: inherit;
  background: #414141;
  color: #ffffff;
  border: solid #8a8a8a;
  border-radius: 10px;
  padding: 10px;
}

.submit-button {
  margin-left: 10px;
  height: 60px;
  font-size: 20px;
  font-family: inherit;
  background: #4d4d4d;
  color: #ffffff;
  border: solid #8a8a8a;
  border-radius: 10px;
  padding: 0 20px;
  &:hover {
    background: #356585;
  }
}

.board-row {
  display: flex;
  width: 100vw;
  height: auto;
}

.board {
  width: 80vw;
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px black;
  transform-style: preserve-3d;
  background: #eddabd;
}

.flipped {
  transform: scaleY(-1);
}

.fen {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80vw;
  max-width: 800px;
}

.select {
  margin-left: 10px;
  height: 45px;
  font-size: 20px;
  font-family: inherit;
  background: #4d4d4d;
  color: #ffffff;
  border: solid #8a8a8a;
  border-radius: 10px;
  padding: 0 20px;
  &:hover {
    background: #356585;
  }
}

.select-label {
  font-size: 24px;
}

.h1 {
  font-size: 40px;
  line-height: 0;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 80vw;
  max-width: 800px;
}
